.field {
  width: 100%;
  display: inline-block;
}

#error_explanation {
  text-align: left;

  h2 {
    font-size: 0.9em;
    color: red;
  }

  padding-bottom: 8px;
}


.img-thumb {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  border-color: #f8f8f8;
  display: inline-block;
  vertical-align: middle;

  text-align: center;
  vertical-align: middle;
  line-height: 100px;

  background-color: gray;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
